/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

html, body {
  width: 100%;
  height: 100%; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #333333; }

a {
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: none; }

button:focus {
  outline: none; }

h2 {
  line-height: 1.1; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

p:not(:last-child) {
  margin-bottom: 1.5rem; }

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/roboto-v20-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../../fonts/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v20-latin-300.woff2") format("woff2"), url("../../fonts/roboto-v20-latin-300.woff") format("woff"), url("../../fonts/roboto-v20-latin-300.ttf") format("truetype"), url("../../fonts/roboto-v20-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v20-latin-regular.woff") format("woff"), url("../../fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("../../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../../fonts/roboto-v20-latin-700.woff") format("woff"), url("../../fonts/roboto-v20-latin-700.ttf") format("truetype"), url("../../fonts/roboto-v20-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/iconfont/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../fonts/iconfont/MaterialIcons-Regular.woff2") format("woff2"), url("../../fonts/iconfont/MaterialIcons-Regular.woff") format("woff"), url("../../fonts/iconfont/MaterialIcons-Regular.ttf") format("truetype"); }

html {
  font-family: "Roboto", sans-serif; }

body {
  font-size: 1.6rem;
  color: white;
  line-height: 1.8; }

.heading-two {
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-left: -3rem; }
  .heading-two::after {
    content: '';
    background-color: #05b4f9;
    height: 6px;
    width: 3rem;
    position: absolute;
    top: 3.8rem;
    margin-left: 3px; }
  .heading-two__sub-title {
    text-align: right;
    margin-right: -3.3rem; }

.heading-three {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase; }

.main-wrapper {
  max-width: 160rem;
  margin: 0 auto; }

.container {
  max-width: 140rem;
  width: 90vw;
  margin: 0 auto; }

.header {
  position: relative;
  transition: all 1s; }
  .header__remove {
    opacity: 0; }
  .header__video {
    height: 100vh;
    position: fixed; }
  .header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(5, 180, 249, 0.8);
    background-image: url(../images/face.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; }
  .header__content {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    transition: all .5s; }
    .header__content__remove {
      opacity: 0; }
  .header__site-name {
    padding: 0 2rem; }
  .header__aboutme {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem; }
  .header__title {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.8rem; }
    .header__title:not(:last-child) {
      margin-bottom: 5rem; }
  .header__down-arrow {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: updown 1.9s ease-out infinite; }
  .header__replacement {
    height: 100vh; }

@keyframes updown {
  0% {
    bottom: 2rem; }
  10% {
    bottom: 2rem; }
  20% {
    bottom: 2rem; }
  50% {
    bottom: 2.5rem; }
  90% {
    bottom: 2.5rem; }
  100% {
    bottom: 2rem; } }

.r-why-drupal {
  text-align: center; }

.r-links {
  text-align: center; }

.association {
  background-color: rgba(5, 180, 249, 0.8);
  margin-bottom: 6rem; }

.footer {
  padding-bottom: 2rem; }
  .footer__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem; }
    .footer__top p {
      margin-bottom: 0px; }
    .footer__top-social {
      display: flex; }
      .footer__top-social a + a {
        margin-left: 1rem; }

.addicted {
  margin-right: 2rem; }

.c-site-name {
  font-size: 3.8rem;
  font-weight: 700; }

.c-heading-wrapper {
  display: inline-block;
  margin-bottom: 6rem; }

.c-arrow-down {
  width: 3rem;
  height: 3rem;
  box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.8);
  transform: rotate(-45deg); }

.c-close-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  cursor: pointer; }
  .c-close-btn img {
    width: 2.6rem;
    height: auto; }

.n-why-drupal__node {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem; }

.n-why-drupal__icon {
  width: 6.4rem; }

.n-links__node {
  margin-bottom: 6rem; }

.n-links__tile {
  position: relative;
  display: inline-block;
  width: 30rem; }

.n-links__title {
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.n-links__screenshot-piece {
  background-color: #05b4f9; }

.n-links__img {
  opacity: .3; }

.n-links__modal-bcg--visible {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.78);
  z-index: 999;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden auto;
  transition: all .8s; }

.n-links__modal-bcg--hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0; }

.n-links__modal-wrapper {
  width: 90vw;
  max-width: 50rem;
  margin: 0 auto; }

.n-links__modal-screenshot {
  margin-bottom: 6rem; }

.n-links__modal-title {
  font-size: 4rem; }

.n-links__modal-body {
  margin-bottom: 3rem; }

.n-links__modal-link {
  color: #05b4f9;
  margin-left: 2rem;
  display: flex; }
  .n-links__modal-link:not(:last-child) {
    margin-bottom: 1rem; }
  .n-links__modal-link--url::before {
    content: '';
    display: inline-block;
    background: url("../images/www.png");
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem; }
  .n-links__modal-link--git::before {
    content: '';
    display: inline-block;
    background: url("../images/git-hub-blue.png");
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem; }

.association__node {
  padding: 4rem 0; }

.association__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; }

.association__title {
  color: black;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
  line-height: 1.1; }

.association__body {
  width: 80%;
  margin: 0 auto; }
