{#
/**
 *
 * association.html.twig
*/
#}


<div class="block-wrapper">
	<div class="container">
		<div class="association__node">
			<div class="association__logo">
				<img src="{{ base_path ~ directory }}/images/association.png" alt="Logo Drupal Association">
			</div>
			<div class="association__title">Developed everywhere for people anywhere</div>
			<div class="association__body">
				<p>Drupal is gratis, open source software, die door meer dan een miljoen gebruikers in 230 landen wordt
											              gebruikt.</p>
				<p>De Drupal community is in constante groei. Word er lid van.</p>
			</div>
		</div>
	</div>
</div>
