{#
/**
 *
 * footer.html.twig
*/
#}


<div class="container">
	<div class="footer__top">
		<p class="addicted">Once you got it you're addicted.</p>
		<div class="footer__top-social">
			<a href="https://twitter.com/illutek"><img src="{{ base_path ~ directory }}/images/twitter.png" alt="twitter icon"></a>
			<a href="https://github.com/illutek"><img src="{{ base_path ~ directory }}/images/git-hub.png" alt="git-hub icon"></a>
		</div>
	</div>
</div>

<div class="footer--bottom">
	<div class="container">
		<p>© illutek 2020 -
			{{ "now"|date("Y") }}</p>
	</div>
</div>
