{#
/**
 *
 * header.html.twig
*/
#}

<div class="header__content">

	<div class="header__site-name">
		<p class="c-site-name">illutek</p>
	</div>
	<div class="header__aboutme" id="top">
		<p class="header__title">
			Mijn naam is Stefan & als hobby
		</p>
		<p class="header__title">Front-end and Drupal</p>
	</div>
</div>

<video autoplay loop class="header__video">
	<source src="{{ base_path ~ directory }}/video/MP4/Busy.mp4" type="video/mp4">
</video>

<div class="header__overlay">

	<div class="header__down-arrow">
		<a href="#why-drupal" class="c-arrow-down"></a>
	</div>

</div>
<!-- end header__overlay -->
