{#
/**
 * Partial
 *
 * links.html.twig
*/
#}

<section class="r-links">

	<div class="c-heading-wrapper">
		<h2 class="heading-two">Linken</h2>
		<div class="heading-two__sub-title">Naar bevriende websites</div>
	</div>

	<div class="block-wrapper">
		{{ page.links }}
	</div>

</section>
