{#
/**
 *
 * why-drupal.html.twig
*/
#}

<div class="c-heading-wrapper">
	<h2 class="heading-two">Drupal</h2>
	<div class="heading-two__sub-title">Waarom ook niet</div>
</div>


<div class="block-wrapper">
	{{ page.why }}
</div>
<!-- end block-wrapper -->
