<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../../css/style.css">
  <title>Illutek</title>
</head>

<body>

  <header class="header">

    <div class="header__content">

      <div class="header__site-name">
        <p class="c-site-name">illutek</p>
      </div>
      <div class="header__aboutme" id="top">
        <p class="header__title">
          Mijn naam is Stefan & als hobby
        </p>
        <p class="header__title">Front-end and Drupal</p>
      </div>
    </div>

    <video autoplay loop class="header__video">
      <source src="../../video/MP4/Busy.mp4" type="video/mp4">
    </video>

    <div class="header__overlay">

      <div class="header__down-arrow">
        <a href="#why-drupal" class="c-arrow-down"></a>
      </div>

    </div>
    <!-- end header__overlay -->

  </header>
  <div class="header__replacement"></div>

  <section class="r-why-drupal" id="why-drupal">
    <div class="c-heading-wrapper">
      <h2 class="heading-two">Drupal</h2>
      <div class="heading-two__sub-title">Waarom ook niet</div>
    </div>


    <div class="block-wrapper">

      <div class="n-why-drupal__node">
        <div class="n-why-drupal__icon">
          <img src="../../images/innovation.png" alt="innovation">
        </div>
        <h3 class="heading-three">innovation</h3>
        <div class="n-why-drupal__body">
          <p>Een platform voor digitale innovatie en ideeën</p>
          <p>Drupal helpt met de digitale transformatie bij toonaangevende organisaties
            als RTLNieuws en De Telegraaf. Content editors, community managers en
            ontwikkelaars creëren met Drupal dagelijks rijke gebruikerservaringen voor
            diverse doelgroepen. Drupal werkt op basis van open source en is flexibel
            door de snelheid van een internationale gebruikersgemeenschap.
          </p>
        </div>
      </div>
      <!-- end why-drupal__node -->

      <div class="n-why-drupal__node">
        <div class="n-why-drupal__icon">
          <img src="../../images/speed.png" alt="innovation">
        </div>
        <h3 class="heading-three">snelheid</h3>
        <div class="n-why-drupal__body">
          <p>Een platform voor digitale innovatie en ideeën</p>
          <p>Drupal helpt met de digitale transformatie bij toonaangevende organisaties
            als RTLNieuws en De Telegraaf. Content editors, community managers en
            ontwikkelaars creëren met Drupal dagelijks rijke gebruikerservaringen voor
            diverse doelgroepen. Drupal werkt op basis van open source en is flexibel
            door de snelheid van een internationale gebruikersgemeenschap.
          </p>
        </div>
      </div>
      <!-- end why-drupal__node -->

      <div class="n-why-drupal__node">
        <div class="n-why-drupal__icon">
          <img src="../../images/innovation.png" alt="innovation">
        </div>
        <h3 class="heading-three">schaalbaar</h3>
        <div class="n-why-drupal__body">
          <p>Een platform voor digitale innovatie en ideeën</p>
          <p>Drupal helpt met de digitale transformatie bij toonaangevende organisaties
            als RTLNieuws en De Telegraaf. Content editors, community managers en
            ontwikkelaars creëren met Drupal dagelijks rijke gebruikerservaringen voor
            diverse doelgroepen. Drupal werkt op basis van open source en is flexibel
            door de snelheid van een internationale gebruikersgemeenschap.
          </p>
        </div>
      </div>
      <!-- end why-drupal__node -->

    </div>
    <!-- end block-wrapper -->

  </section>

  <section class="r-links">

    <div class="c-heading-wrapper">
      <h2 class="heading-two">Linken</h2>
      <div class="heading-two__sub-title">Naar bevriende websites</div>
    </div>

    <div class="block-wrapper">
      <!-- full node  -->
      <div class="n-links__node">

        <!-- start tile  -->
        <a href="#" class="n-links__tile">
          <!-- left-top corner of the screenshot -->
          <div class="n-links__screenshot-piece">
            <img class="n-links__img" src="../../images/lomc.jpg" alt="lomc">
          </div>
          <div class="n-links__title">
            LOMC
          </div>
        </a>

      </div>
      <!-- end n-links__node  -->

      <!-- full node  -->
      <div class="n-links__node">

        <!-- start tile  -->
        <a href="#" class="n-links__tile">
          <!-- left-top corner of the screenshot -->
          <div class="n-links__screenshot-piece">
            <img class="n-links__img" src="../../images/bullensteeg.jpg" alt="lomc">
          </div>
          <div class="n-links__title">
            Bullensteeg
          </div>
        </a>


      </div>
      <!-- end n-links__node  -->

      <!-- full node  -->
      <div class="n-links__node">

        <!-- start tile  -->
        <a href="#" class="n-links__tile">
          <!-- left-top corner of the screenshot -->
          <div class="n-links__screenshot-piece">
            <img class="n-links__img" src="../../images/bluesky.jpg" alt="bluesky">
          </div>
          <div class="n-links__title">
            bluesky shuttle
          </div>
        </a>

      </div>
      <!-- end n-links__node  -->

    </div>
    <!-- end block-wrapper -->

  </section>

  <section class="association">
    <div class="block-wrapper">
      <div class="association__node">
        <img src="../../images/association.png" alt="Logo Drupal Association">
        <div class="association__title">Developed everywhere for people anywhere</div>
        <div class="association__body">
          <p>Drupal is gratis, open source software, die door meer dan een miljoen gebruikers in 230 landen wordt
            gebruikt.</p>
          <p>De Drupal community is in constante groei. Word er lid van.</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer__top">
      <p class="addicted">Once you got it you're addicted.</p>
      <div class="social">
        <a href="#"><img src="../../images/twitter.png" alt=""></a>
        <a href="#"><img src="../../images/git-hub.png" alt=""></a>
      </div>
    </div>

    <div class="footer--bottom">
      <p>© illutek 2020 - 2020</p>
    </div>
  </footer>

  <!-- start links-modal -->
  <div class="n-links__modal-bcg">
      
    <div class="n-links__modal-wrapper">

      <div class="c-close-btn">
        <img class="c-close-btn" src="../../images/close-btn.png" alt="close button">
      </div>
      
      <div class="n-links__modal-content">
        <div class="n-links__modal-screenshot">

          <img src="../../images/lomc.PNG" alt="">
        </div>

        <div class="n-links__modal-title">
          LOMC
        </div>
        
        <div class="n-links__modal-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum porro beatae dolorem repellat qui facere.
        </div>

        <div class="n-links__modal-social">
          <a class="n-links__modal-link n-links__modal-link--url " href="#">www.lomc.be</a>
          <a class="n-links__modal-link n-links__modal-link--git" href="#">https://github.com/illutek/lomcV2</a>
        </div>
</div>
    </div>
  </div>

  <script src="../../dist/js/all.js"></script>
</body>

</html>