// /////////////////////////
// @@ NODE LINKS
// ////////////////////////

.n-links {
	&__node {
		margin-bottom: $margin-bb;
	}

	&__tile {
		position: relative;
		display: inline-block;
		width: 30rem;
	}

	&__title {
		color: map-get($colors, white);
		font: {
			size: 4rem;
		}
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		cursor: pointer;
	}

	&__screenshot-piece {
		background-color: map-get($colors, accent);
	}

	&__img {
		opacity: .3;
	}

  &__modal-bcg {

    &--visible {
    opacity: 1;
		background-color: rgba(map-get($colors, black), .78);
		z-index: 999;
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden auto;
  }
    

		&--hidden {
      opacity: 0;
		  // visibility: hidden;
    }
		
	}

	&__modal-wrapper {
		width: 90vw;
		max-width: 50rem;
		margin: 0 auto;
	}

	&__modal-content {
	}

	&__modal-screenshot {
		margin-bottom: $margin-bb;
	}

	&__modal-title {
		font: {
			size: 4rem;
		}
	}

	&__modal-body {
		margin-bottom: $margin-b;
	}

	&__modal-link {
		color: map-get($colors, accent);
    margin-left: 2rem;
    display: flex;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

		&--url {
  
			&::before {
				content: '';
				display: inline-block;
				background: url("../images/www.png");
				width: 2.5rem;
				height: 2.5rem;
				margin-right: 1rem;
			}
    }
    &--git {
			&::before {
				content: '';
				display: inline-block;
				background: url("../images/git-hub-blue.png");
				width: 2.5rem;
				height: 2.5rem;
				margin-right: 1rem;
			}
		}
	}
}
