// /////////////////////////
// @@ PAGE LAYOUT
// ////////////////////////

.main-wrapper {
  max-width: 160rem;
  margin: 0 auto;
}

.container {
  max-width: 140rem;
  width: 90vw;
  margin: 0 auto;

}