{#
/**
 *
 * page--front.html.twig
*/
#}

<header class="header">
  {% include directory ~ '/templates/partials/header.html.twig' %}
</header>

<div class="header__replacement"></div>

<section class="r-why-drupal" id="why-drupal">
  {% include directory ~ '/templates/partials/why-drupal.html.twig' %}
</section>

<section class="r-why-drupal" id="why-drupal">
  {% include directory ~ '/templates/partials/links.html.twig' %}
</section>