{#
/**
 *
 * page--node.html.twig
 * only for the links content
*/
#}

<header class="header">
  {% include directory ~ '/templates/partials/header.html.twig' %}
</header>

<div class="container">
	{{ page.content }}
</div>